# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.vscode

### Pasta Geral
# dependencies
node_modules
package-lock.json

### front-end
# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/package-lock.json

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


### back-end
# dependencies
backend/node_modules/
backend/package-lock.json

.env
