/* arranjar cor dos navlinks */

.navText {
  color: rgba(255, 255, 255, 0.5) !important;

  text-decoration: none !important;
}

.navText:hover {
  color: rgba(255, 255, 255, 0.75) !important;

  text-decoration: none;
}

.circulo-branco {
  border-radius: 50%;
}
