/* arranjar cor dos navlinks */

.logoespaco {
  margin-right: 0.8rem;
}

.navbar-brand .letras {
  width: 150px;
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;
}

.navText {
  color: rgba(255, 255, 255, 0.5) !important;

  text-decoration: none !important;
}

.navText:hover {
  color: rgba(255, 255, 255, 0.75) !important;

  text-decoration: none;
}

.backcolor-nav {
  background-color: #253746 !important;
}

/*isto devia ser mudado, é uma nuke global. ta aqui porque quando mudas a tradução aparece uma barra branca em cima*/
body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  position: relative;
  top: 10px;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
