.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.creditos {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.creditos Button {
	background-color: #ffb81d;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#contactos .cartao img {
margin-top: 20px;
margin-bottom: 30px;
}
  
#contactos .cartao a {
color: #253746;
}

#contactos .cartao h3 {
margin-bottom: 20px;
}

h1 {
  color: #ffb81d;
  font-size: 6rem !important;
}

.backoffice {
  font-size: 15px;
}

.backoffice a {
  text-decoration: none;
  color: #015486;
}

.backoffice a:hover {
  text-decoration: none;
  color: #015486;
}
