.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.sembutton {
  z-index: 400;
  right: -1px;
  top: 10px;
  position: absolute;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
